<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.lachlan.githubjump</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>EC294EDC-565E-48AE-BF28-19E2B1C649C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>525EEAA1-C3AE-4166-9209-72FFA524F402</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lachlan Donald</string>
	<key>description</key>
	<string>Search / Open Recent Github Repos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Jump</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading github repositories</string>
				<key>script</key>
				<string>./alfred-github-jump repos "{query}"</string>
				<key>title</key>
				<string>Jump to a Github Repository</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC294EDC-565E-48AE-BF28-19E2B1C649C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>525EEAA1-C3AE-4166-9209-72FFA524F402</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>525EEAA1-C3AE-4166-9209-72FFA524F402</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>EC294EDC-565E-48AE-BF28-19E2B1C649C0</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/lox</string>
</dict>
</plist>
